/* Global Styles */
* {
  outline: none;
}

html,
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;  
  height: 100%;
  width: 100%;
}

p {
  font-size: 1.8em;
}

/* Landing Page */

#top {
  color: #FFF;
}

#top a {
  color: #FFF;
}

.landingHeader {
  font-size: 220px;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 7em;
  font-weight: 600;
}

/* Side Menu */

#sidebar-wrapper {
  font-family: Helvetica, Arial, sans-serif;
  border-left: 1px solid #000;
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #FFF;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #000;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #FFF;
  background: #006699;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #000;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #000;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Full Page Image and Header */

.header a {
  color: #000;
}

.header a:hover {
  color: #580000;
}

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

/* Adds an opaque black layer over image background */

.layout {     
  background: rgba(0, 0, 0, 0.3) no-repeat center center fixed;
  display: table; /* Firefox fix */
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Section Headers */

.landingHeader, .sectionHead {
  font-family: 'Yanone Kaffeesatz', "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

.landingHeader {
  font-size: 230px;
}

.sectionHead {
  font-size: 6em;
}

/* About */

.about {
  padding: 50px 0;
}

.about {
  background: #1E252B;
  color: white;
}

.about a {
  color: #FFF;
  text-decoration: underline;
}

.about a:hover {
  text-decoration: none;
}

/* Toolkit */

.toolkit {
  background: #D6C4AB;
  padding: 50px 0;
  color: #000;
}

.toolkit hr {
  border-color: #000;
}

/* Projects */

.projects {
  color: #FFF;
  background: #626261;
  padding: 50px 0;
}

.projects a {
  color: #FFF;
  text-decoration: underline;
}

.projects a:hover {
  text-decoration: none;
}

.projects-item {
  margin-bottom: 25px;
}

.img-projects {
  margin: 0 auto;
}

/* Contact */

.contact {
  color: #000;
  background: #D6C4AB;
  text-align: center;
}

.contact hr {
  border-color: #000;
}

.contact a {
  padding: 0 10px;
  color: #000;
  text-decoration: none;
}

.contact a:hover {
  color: #1E252B;
}

.contact .panel {
  background: none;
  border: none;
  color: #000;
}

.contact label {
  text-align: center;
}

/* Footer */

footer {
  background: #1E252B;
  color: white;
  padding: 50px 0;
}

footer hr {
  border-color: #FFF;
}

footer a {
  color: #FFF;
  text-decoration: underline;
}

footer a:hover {
  color: #FFF;
  text-decoration: none;
}

.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
}

i.scroll {
  color: #FFF;
}

/* LastFM Widget */

#text {
  color: #FFF;  
  margin: 5px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#text a {
  color: #FFF;
}

#text .glyphicon {
  background: none;
  border: none;
  padding-right: 10px;
}

#text .glyphicon:active {

}

.floatBottom {
  background: #000;
  opacity: 0.8;
  padding: 2px;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 45px;
  width: 350px;
  border-radius: 15px;
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-right: 10px;
  z-index: 9998!important;  
}

/* Bouncing Arrows */

#bouncer   {
  -webkit-animation: bounce 1s infinite;
  -moz-animation: bounce 1s infinite;  
}

/* Chrome / Safari */
@-webkit-keyframes bounce {
    0% { -webkit-transform: translate3d(0,   0px,0); 
         -webkit-animation-timing-function: ease-out; }
   50% { -webkit-transform: translate3d(0,-10px,0); 
         -webkit-animation-timing-function: ease-in; }
  100% { -webkit-transform: translate3d(0,   0px,0); }
}

/* Firefox */
@-moz-keyframes bounce {
    0% { -moz-transform: translate3d(0,   0px,0); 
         -moz-animation-timing-function: ease-out; }
   50% { -moz-transform: translate3d(0,-10px,0); 
         -moz-animation-timing-function: ease-in; }
  100% { -moz-transform: translate3d(0,   0px,0); }
} 

/* Mobile / Responsive */

@media (max-width: 768px) {

  .landingHeader {
    font-size: 7em;
  }

  p {
    font-size: 1.5em;
  }

}