/* Global Styles */
* { outline: none; }

html,
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

p { font-size: 1.8em; }



/* Alignment Hack */

.alignCenter {
    /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /* Align the bootstrap's container vertically */
  -webkit-box-align : center;
  -webkit-align-items : center;
  -moz-box-align : center;
  -ms-flex-align : center;
  align-items : center;

  -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
  -webkit-justify-content : center;
  justify-content : center;

  padding-top: 35px;
  padding-bottom: 35px;
}

/* Side Menu */

#sidebar-wrapper {
  font-family: 'Yanone Kaffeesatz', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 27px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  border-radius: 5px;
  margin-right: -250px;
  right: 0;
  width: 150px;
  background: #FFF;
  position: fixed;
  height: 260px;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 45px;
  border-bottom: 1px solid gray;
}

.sidebar-nav li a {
  color: #000;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #FFF;
  background: #006699;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus { text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 29px;
  font-weight: 500;
  border-bottom: 1px solid;
}

.sidebar-nav > .sidebar-brand a { color: #000; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #000;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle { margin: 5px 5px 0 0; }

/* Section Headers */

.sectionHead {
  font-size: 5em;
  font-family: 'Yanone Kaffeesatz', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Top */

.header a { color: #000; }
.header a:hover { color: #580000; }
.mobileText { visibility: hidden; }

.landingPage {
  position: relative;
  background-color: #D6C4AB;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landingPage i {
  color: #333;
}

.layout { /* Adds an opaque black layer over image background */
  background: #333 no-repeat center center fixed;
  display: table; /* Firefox fix */
  height: 100vh;
  width: 100%;
  position: fixed;
}

video {
  border: 2px solid #333;
  margin: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.topText {
  color: #333;
}

.landingHeader {
  padding: 25px 25px;
  color: #333;
  font-size: 8em;
}


.length {
  font-size: 20px;
}

/* About */

.about { padding: 50px 0; }

.about {
  text-align: left;
  position: relative;
  background: #1E252B;
  color: white;
}

.about li {
  font-size: 1.5em;
}

.about [class*="fa"] { /* Font-Awesome Hack for Centered Icons */
    display: inline-block;
    width: 100%;
}

.about .fa { text-align: center; }

.about a {
  color: #FFF;
  text-decoration: underline;
}

.about a:hover { text-decoration: none; }

/* Toolkit */

.toolkit {
  position: relative;
  background: #D6C4AB;
  padding: 50px 0;
  color: #000;
}

.toolkit hr { border-color: #000; }

/* Projects */

.projects {
  position: relative;  
  color: #FFF;
  background: #1E252B;
  padding: 50px 0;
}

.projects li {
  font-size: 1.5em;
}

.projects a {
  color: #FFF;
  text-decoration: underline;
}

.projects a:hover { text-decoration: none; }

.projects-item { margin-bottom: 25px; }

.img-projects { margin: 0 auto; }

/* Contact */

.contact {
  position: relative;
  padding-top: 50px;
  color: #000;
  background: #D6C4AB;
  text-align: center;
}

.contact hr { border-color: #000; }

.contact a {
  padding: 0 10px;
  color: #000;
  text-decoration: none;
}

.contact a:hover { color: #1E252B; }

.contact .panel {
  background: none;
  border: none;
  box-shadow: none;
  color: #000;
}

.contact input, .contact textarea {
  color: #000;
  background: none;
  border: 1px solid #000;
}

.contact input:focus, .contact textarea:focus {
  color: #000;
  outline: none !important;
  border:1px solid #000;
  box-shadow: 0 0 2px #000;
}

.contact .btn {
  background: none;
  border: 1px solid #000;
  color: #000;
  font-weight: 600;
}

.contact .btn:hover { box-shadow: 0 0 2px #000; }

.contact .btn:focus {
  outline: none !important;
  border:1px solid #000;
  box-shadow: 0 0 2px #000;  
}

/* Footer */

footer {
  position: relative;  
  background: #1E252B;
  color: white;
  padding: 50px 0;
}

footer hr { border-color: #FFF; }

footer a {
  color: #FFF;
  text-decoration: underline;
}

footer a:hover {
  color: #FFF;
  text-decoration: none;
}

.top-scroll { margin-top: 50px; }

.top-scroll a { text-decoration: none; }


/* LastFM Widget */

#text {
  color: #FFF;
  margin: 5px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#text a { color: #FFF; }

#text .glyphicon {
  background: none;
  border: none;
  padding-right: 10px;
}

.floatBottom {
  background: #000;
  opacity: 0.8;
  padding: 2px;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 45px;
  width: 350px;
  border-radius: 15px;
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-right: 10px;
  z-index: 9998!important;
}

/* Bouncing Arrows */

.bouncer {
  -webkit-animation: bounce 1s infinite;
  -moz-animation: bounce 1s infinite;
}

/* Chrome / Safari */
@-webkit-keyframes bounce {
    0% { -webkit-transform: translate3d(0,   0px,0);
         -webkit-animation-timing-function: ease-out; }
   50% { -webkit-transform: translate3d(0,-10px,0);
         -webkit-animation-timing-function: ease-in; }
  100% { -webkit-transform: translate3d(0,   0px,0); }
}

/* Firefox */
@-moz-keyframes bounce {
    0% { -moz-transform: translate3d(0,   0px,0);
         -moz-animation-timing-function: ease-out; }
   50% { -moz-transform: translate3d(0,-10px,0);
         -moz-animation-timing-function: ease-in; }
  100% { -moz-transform: translate3d(0,   0px,0); }
}

/* Mobile / Responsive */

@media (max-width: 768px) {

  #top {
    background: url(../img/rsz_bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
  }

  #top .fa {
    color: #FFF;
  }

  .mobileTint {
    background: rgba(0, 0, 0, 0.3) no-repeat center center fixed;
    display: table; /* Firefox fix */
    height: 100%;
    width: 100%;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .landingHeader {
    padding-top: 50%;
    color: #FFF;
  }

  .topText {
    display: none;
    visibility: hidden;
  }

  .mobileText, .topText {
    visibility: visible;
    color: #FFF;
    font-size: 25px;
    padding: 0;
  }

  #contact i { font-size: 45px; }

  .topItem {
    visibility: hidden;
    display: none;
  }

  p { font-size: 1.5em; }

  video {
    display: none;
    visibility: hidden;
  }

}
