/* Global Styles */
* {
  outline: none;
}

html,
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

p {
  font-size: 1.8em;
}

/* Side Menu */

#sidebar-wrapper {
  font-family: 'Yanone Kaffeesatz', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 27px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  border-radius: 5px;
  margin-right: -250px;
  right: 0;
  width: 150px;
  background: #FFF;
  position: fixed;
  height: 260px;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 45px;
  border-bottom: 1px solid gray;
}

.sidebar-nav li a {
  color: #000;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #FFF;
  background: #006699;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 29px;
  font-weight: 500;
  border-bottom: 1px solid;
}

.sidebar-nav > .sidebar-brand a {
  color: #000;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #000;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Full Page Video and Header */

.mobileText {
  visibility: hidden;
}

.header a {
  color: #000;
}

.header a:hover {
  color: #580000;
}

#top {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: url(../img/bg2.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

#bgvid { /* This is really confusing... */
  position:fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  width: auto;
  min-width: 100%;
  height: auto;
}

.header {
  height: 100%;
  width: 100%;
  background: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.layout { /* Adds an opaque black layer over image background */
  background: rgba(0, 0, 0, 0.3) no-repeat center center fixed;
  display: table; /* Firefox fix */
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Section Headers */

.sectionHead {
  font-size: 5em;
}

/* Top */

.topText {
  margin: 4% 1%;
  padding: 15px 25px;
  color: #FFF;
  display: inline-block;
}

#playVideo {
  padding: 5px 25px;
}

.landingHeader, .sectionHead {
  font-family: 'Yanone Kaffeesatz', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.landingHeader {
  padding: 25px 25px;
  color: #FFF;
  font-size: 2em;
}

.landingHeader .btn {
  background: none;
  color: #FFF;
  font-size: 20px;
  margin-top: 15px;
}

.length {
  font-size: 20px;
}

#down {
  margin-top: 25px;
  margin-left: 65px;
}

/* About */

.about {
  padding: 50px 0;
}

.about {
  position: relative;
  background: #1E252B;
  color: white;
}

.about a {
  color: #FFF;
  text-decoration: underline;
}

.about a:hover {
  text-decoration: none;
}

/* Toolkit */

.toolkit {
  position: relative;
  background: #D6C4AB;
  padding: 50px 0;
  color: #000;
}

.toolkit hr {
  border-color: #000;
}

/* Projects */

.projects {
  position: relative;  
  color: #FFF;
  background: #1E252B;
  padding: 50px 0;
}

.projects a {
  color: #FFF;
  text-decoration: underline;
}

.projects a:hover {
  text-decoration: none;
}

.projects-item {
  margin-bottom: 25px;
}

.img-projects {
  margin: 0 auto;
}

/* Contact */

.contact {
  position: relative;
  padding-top: 50px;
  color: #000;
  background: #D6C4AB;
  text-align: center;
}

.contact hr {
  border-color: #000;
}

.contact a {
  padding: 0 10px;
  color: #000;
  text-decoration: none;
}

.contact a:hover {
  color: #1E252B;
}

.contact .panel {
  background: none;
  border: none;
  color: #000;
}

.contact input, .contact textarea {
  color: #FFF;
  background: none;
  border: 1px solid #000;
}

.contact input:focus, .contact textarea:focus {
  color: #000;
  outline: none !important;
  border:1px solid #000;
  box-shadow: 0 0 10px #000;
}

.contact .btn {
  background: none;
  border: 1px solid #000;
  color: #000;
}

.contact .btn:hover {
  box-shadow: 0 0 10px #000;  
}

.contact .btn:focus {
  outline: none !important;
  border:1px solid #000;
  box-shadow: 0 0 10px #000;  
}

/* Footer */

footer {
  position: relative;  
  background: #1E252B;
  color: white;
  padding: 50px 0;
}

footer hr {
  border-color: #FFF;
}

footer a {
  color: #FFF;
  text-decoration: underline;
}

footer a:hover {
  color: #FFF;
  text-decoration: none;
}

.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
}

i.scroll {
  color: #FFF;
}

/* LastFM Widget */

#text {
  color: #FFF;
  margin: 5px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#text a {
  color: #FFF;
}

#text .glyphicon {
  background: none;
  border: none;
  padding-right: 10px;
}

.floatBottom {
  background: #000;
  opacity: 0.8;
  padding: 2px;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 45px;
  width: 350px;
  border-radius: 15px;
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-right: 10px;
  z-index: 9998!important;
}

/* Bouncing Arrows */

#bouncer   {
  -webkit-animation: bounce 1s infinite;
  -moz-animation: bounce 1s infinite;
}

/* Chrome / Safari */
@-webkit-keyframes bounce {
    0% { -webkit-transform: translate3d(0,   0px,0);
         -webkit-animation-timing-function: ease-out; }
   50% { -webkit-transform: translate3d(0,-10px,0);
         -webkit-animation-timing-function: ease-in; }
  100% { -webkit-transform: translate3d(0,   0px,0); }
}

/* Firefox */
@-moz-keyframes bounce {
    0% { -moz-transform: translate3d(0,   0px,0);
         -moz-animation-timing-function: ease-out; }
   50% { -moz-transform: translate3d(0,-10px,0);
         -moz-animation-timing-function: ease-in; }
  100% { -moz-transform: translate3d(0,   0px,0); }
}

/* Mobile / Responsive */

@media (max-width: 768px) {

  #top {
    background: url(../img/rsz_bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
  }

  .topText {
    margin-left: 20px;
    margin-top: 230px;
  }

  .mobileText, .topText {
    visibility: visible;
    color: #FFF;
    font-size: 25px;
    padding: 0;
  }

  #contact i {
    font-size: 45px;
  }

  .topItem {
    visibility: hidden;
    display: none;
  }

  p {
    font-size: 1.5em;
  }

  video {
    display: none;
    visibility: hidden;
  }

}
